@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/cnt.jpg" class="img-thumbnail" />
        </div>

        <div class="col-md-6">
            <h1 align="center">Feed Back Section </h1>

            <form action="SendMsg" method="post" cellspacing="10px">
                <div class="form-group">
                    <label>Enter Name </label>
                    <input id="Name" name="Name" type="text" class="form-control-lg" placeholder="Enter Name" required="" />
                </div>

                <div class="form-group">
                    <label>Enter Email </label>
                    <input id="Email" name="Email" type="email" class="form-control-lg" placeholder="Enter Email" required="" />
                </div>

                <div class="form-group">
                    <label>Enter Contact </label>
                    <input id="Contact" name="Contact" type="number" class="form-control-lg" placeholder="Enter Contact" required="" />
                </div>

                <div class="form-group">
                    <label>Enter Message </label>
                    <input id="Message" name="Message" type="text" class="form-control-lg" placeholder="Enter Message " required="" />
                </div>


                <input id="submit" name="submit" type="submit" value="Send Message" class="btn btn-primary" style="padding:10px;font-size:15px;" />


            </form>


        </div>





    </div>
</div>

