
@{
    ViewBag.Title = "Pannel";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="btn btn-warning"> @Html.ActionLink("View Feed Back ", "allFeedBack", "Home") </h1>
            <hr />

            <h1 class="btn btn-warning"> @Html.ActionLink("View Customer ", "allCustomer", "Customer") </h1>
            <hr />


            <h1 class="btn btn-warning"> @Html.ActionLink("View Staff ", "allStaff", "Staff") </h1>
            <hr />

            <h1 class="btn btn-warning"> @Html.ActionLink("View Payment ", "allPayment", "Payment") </h1>
            <hr />



        </div>

    </div>

</div>

